html, body {
  padding: 0;
  margin: 0;
  text-align: center;
}

td {
	width: 50%;
}


canvas {
  border: 1px solid black;
  height: 98vmin;
  width: 98vmin;
}

#control {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  border: 1px solid black;
}

button {
  font-size: 1.5em;
  padding: 5px;
  margin-top: 15px;
}

table {
  width: 16em;
  margin-top: 15px;
}

table, td {
  text-align: left;
  border: 1px solid black;
}
